<div class="col-sm-12">
	<h1>Let's merge those properties!</h1>
</div>
<div class="col-sm-6"></div>
<delimiter></delimiter>

<div *ngIf="errorMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>Property error!</strong>
	{{errorMessage}}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<delimiter></delimiter>

<div class="col-sm-12">
	<div class="float-left">
		<div class="form-group">
			<input type="file" class="form-control-file" id="fileLeft" (change)="handleLeftFileInput($event.target.files)">
		</div>
		<delimiter></delimiter>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Line</th>
					<th>Prop. Name</th>
					<th>Prop. Value</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<ng-template ngFor let-key [ngForOf]="getKeys(differencesMap)">
				<tr *ngIf="!differencesMap.get(key).leftProperty">
					<td></td>
					<td></td>
					<td></td>
					<td>
						<button class="btn btn btn-sm btn-info" disabled>NaN</button>
					</td>
				</tr>
				<tr *ngIf="differencesMap.get(key).leftProperty" [class.bg-warning]="!differencesMap.get(key).equal && !differencesMap.get(key).onlyLeft"
					[class.bg-success]="differencesMap.get(key).onlyLeft">
					<td>{{differencesMap.get(key).leftProperty?.line}}</td>
					<td>{{differencesMap.get(key).leftProperty?.name}}</td>
					<td>{{differencesMap.get(key).leftProperty?.value}}</td>
					<td>
						<button *ngIf="!isChoosed(differencesMap.get(key).leftProperty)" class="btn btn-sm btn-outline-secondary"
							(click)="choose(differencesMap.get(key).leftProperty)">Select</button>
						<button *ngIf="isChoosed(differencesMap.get(key).leftProperty)" class="btn btn-sm btn-secondary"
							(click)="choose(differencesMap.get(key).leftProperty)">Selected</button>
					</td>
				</tr>
				</ng-template>
			</tbody>
		</table>
	</div>


	<div class="float-right">
		<div class="form-group">
			<input type="file" class="form-control-file" id="fileRight" (change)="handleRightFileInput($event.target.files)">
		</div>
		<delimiter></delimiter>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Line</th>
					<th>Prop. Name</th>
					<th>Prop. Value</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<ng-template ngFor let-key [ngForOf]="getKeys(differencesMap)">
				<tr *ngIf="!differencesMap.get(key).rightProperty">
					<td></td>
					<td></td>
					<td></td>
					<td>
						<button class="btn btn btn-sm btn-info" disabled>NaN</button>
					</td>

				</tr>

				<tr *ngIf="differencesMap.get(key).rightProperty" [class.bg-warning]="!differencesMap.get(key).equal && !differencesMap.get(key).onlyRight"
					[class.bg-success]="differencesMap.get(key).onlyRight">
					<td>{{differencesMap.get(key).rightProperty?.line}}</td>
					<td>{{differencesMap.get(key).rightProperty?.name}}</td>
					<td>{{differencesMap.get(key).rightProperty?.value}}</td>
					<td>
						<button *ngIf="!isChoosed(differencesMap.get(key).rightProperty)" class="btn btn-sm btn-outline-secondary"
							(click)="choose(differencesMap.get(key).rightProperty)">Select</button>
						<button *ngIf="isChoosed(differencesMap.get(key).rightProperty)" class="btn btn-sm btn-secondary"
							(click)="choose(differencesMap.get(key).rightProperty)">Selected</button>
					</td>
				</tr>
				</ng-template>
			</tbody>
		</table>
	</div>
</div>
<!-- <div class="col-sm-12"> -->
<button class="btn btn-lg btn-outline-primary" style="width: 100%" (click)="merge()">Merge</button>
<div class="form-group">
	<label for="merged">Merged properties:</label>
	<textarea class="form-control" id="merged" rows="20" cols="200">{{merged}}</textarea>
</div>

<!-- </div> -->