.custom-table-div {
	white-space: nowrap;
	overflow-x: auto;
}

/* For hide input when is file type */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
