<div class="col-sm-12">
	<h1>Let's merge those properties!</h1>
</div>
<div class="col-sm-6"></div>
<delimiter></delimiter>


<div class="col-sm-12">
	<div class="float-left">
		<button class="btn btn-xs btn-info" (click)="loadLeftSideProperties()">Load left prop.</button>
		<delimiter></delimiter>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Line</th>
					<th>Prop. Name</th>
					<th>Prop. Value</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<ng-template ngFor let-key [ngForOf]="getKeys(differencesMap)">
				<tr *ngIf="!differencesMap.get(key).leftProperty">
					<td>NaN</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr *ngIf="differencesMap.get(key).leftProperty"  [class.bg-warning]="!differencesMap.get(key).equal && !differencesMap.get(key).onlyLeft" [class.bg-success]="differencesMap.get(key).onlyLeft">
					<td>{{differencesMap.get(key).leftProperty?.line}}</td>
					<td>{{differencesMap.get(key).leftProperty?.name}}</td>
					<td>{{differencesMap.get(key).leftProperty?.value}}</td>
					<td>
						<button *ngIf="!isChoosed(differencesMap.get(key).leftProperty)" class="btn btn-xs btn-outline-secondary" (click)="choose(differencesMap.get(key).leftProperty)">Select</button>
						<button *ngIf="isChoosed(differencesMap.get(key).leftProperty)" class="btn btn-xs btn-secondary" (click)="choose(differencesMap.get(key).leftProperty)">Selected</button>
					</td>
				</tr>
				</ng-template>
			</tbody>
		</table>
	</div>


	<div class="float-right">
		<button class="btn btn-xs btn-info" (click)="loadRightSideProperties()">Load right prop.</button>
		<delimiter></delimiter>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Line</th>
					<th>Prop. Name</th>
					<th>Prop. Value</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<ng-template ngFor let-key [ngForOf]="getKeys(differencesMap)">
				<tr *ngIf="!differencesMap.get(key).rightProperty">
					<td>NaN</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

				<tr *ngIf="differencesMap.get(key).rightProperty" [class.bg-warning]="!differencesMap.get(key).equal && !differencesMap.get(key).onlyRight"
					[class.bg-success]="differencesMap.get(key).onlyRight">
					<td>{{differencesMap.get(key).rightProperty?.line}}</td>
					<td>{{differencesMap.get(key).rightProperty?.name}}</td>
					<td>{{differencesMap.get(key).rightProperty?.value}}</td>
					<td>
						<button *ngIf="!isChoosed(differencesMap.get(key).rightProperty)" class="btn btn-xs btn-outline-secondary" (click)="choose(differencesMap.get(key).rightProperty)">Select</button>
						<button *ngIf="isChoosed(differencesMap.get(key).rightProperty)" class="btn btn-xs btn-secondary" (click)="choose(differencesMap.get(key).rightProperty)">Selected</button>
					</td>
				</tr>
				</ng-template>
			</tbody>
		</table>
	</div>
</div>